* {
    box-sizing: border-box;
}
body {
    padding: 50px 100px;
}

table{
    width: 100%;
}
table td{
    vertical-align: top;
    padding: 4px;
}

input[type=text],
input[type=number],
textarea {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 4px 10px;
    font-size: 14px;
}

.input-error{
    margin-top: 0;
    color: #b44b47;
}
